<section
   id="about"
   class="mx-auto flex justify-evenly mb-8 scroll-mt-36 lg:w-[70%] lg:flex-row lg:px-10 sm:w-[60%] xs:w-full xs:flex-col-reverse xs:px-0"
>
   <img
      src="/image2.jpg"
      alt="#"
      class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-52 sm:ml-0 xs:w-[90%] xs:ml-5 xs:h-[150px]"
   />

   <div class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto">
      <h2 class="font-black lg:text-[50px] xs:text-6xl">
         Hello I'm <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block">Mila Dev</span>
      </h2>

      <p class="opacity-60 text-[17px]">
         <span class="block mb-2">Full Stack developer with X years of experience</span>
         <span class="block">My hobbies are programming in JavaScript or Python</span>
         <span class="block">and play videogames.</span>
      </p>
   </div>
</section>
