---
import { projects } from '../assets/data';
import ProjectCard from './ProjectCard.astro';
---

<div
   class="scroll-mt-36 w-[75%] mx-auto mt-20 mb-10"
   id="projects"
>
   <h2 class="font-bold w-fit md:mx-0 md:ml-5 sm:text-6xl xs:text-5xl xs:mx-auto">Projects</h2>
</div>

<div class="grid mx-auto gap-6 mb-8 xl:grid-cols-4 xl:w-4/5 lg:grid-cols-3 md:w-[85%] md:grid-cols-2 xs:grid-cols-1 xs:w-[90%]">
   {
      projects.map((card) => (
         <ProjectCard
            title={card.title}
            description={card.description}
            image={card.image}
         />
      ))
   }
</div>
