<div class="separator border-t-[1px]"></div>

<style>
   .separator {
      border-image-source: linear-gradient(to left, #000, #f3f4f6, #000);
      border-image-slice: 1;
      background-image: radial-gradient(at top center, #f3f4f626, #000 60%);
      height: 6rem;
      width: 70%;
      margin-inline: auto;
   }
</style>
