---
interface Props {
   text: string;
   logo: string;
}

const { text, logo } = Astro.props;
---

<div class="flex items-center mr-16">
   <i class={`${logo} text-[60px] p-1 border-gray-100/10 border-2 bg-clip-text text-transparent bg-gradient-to-t from-gray-500 via-white/70 to-white/90 rounded-lg`}></i>

   <span class="text-2xl ml-6 font-bold bg-clip-text text-transparent bg-gradient-to-t from-gray-500 via-white/70 to-white/90">{text}</span>
</div>
