/*=============== Slider ===============*/
.tech-card {
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.03));
   padding-block: 2rem;
   border-top-width: 1px;
   border-bottom-width: 1px;
   border-color: #ffffff26;
   animation: 35s slide infinite linear;
}

@keyframes slide {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-100%);
   }
}

/*=============== Modal ===============*/
.tech-modal {
   background-image: linear-gradient(to bottom, #000, hsla(0, 0%, 0%, 0.9));
   border: 2px solid #ffffff26;
   animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
   0% {
      opacity: 0;
      transform: scale(0.5);
   }

   70% {
      opacity: 0.7;
      transform: scale(1.2);
   }

   100% {
      opacity: 1;
      transform: scale(1);
   }
}

/*=============== Project Cards ===============*/
.container {
   transform: translateY(40px);
   transition: transform ease-in-out 500ms;
}

.parent-container:hover .container {
   transform: translateY(0);
}

.parent-container:hover .container .paragraph {
   opacity: 1;
   transition: opacity ease-in 300ms;
}
